*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
color:white;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
background: radial-gradient(circle at top,#0f172a,#020617);
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

.logo{
color:#38bdf8;
}

nav a{
margin:0 15px;
color:white;
text-decoration:none;
}

.social a{
margin-left:15px;
color:white;
font-size:20px;
}

.hero{
text-align:center;
padding:150px 20px;
}

.hero h1{
font-size:60px;
}

.hero span{
color:#38bdf8;
}

.hero h2{
margin:15px 0;
font-weight:400;
}

.intro{
max-width:700px;
margin:auto;
color:#cbd5f5;
}

.buttons{
margin-top:30px;
}

.btn{
padding:12px 22px;
margin:10px;
border-radius:8px;
text-decoration:none;
display:inline-block;
}

.github{
background:#1f2937;
color:white
}
.github i{
color:white;
}
.github:hover{
background:#374151;
transform:translateY(-2px);
transition:0.3s;
}

.linkedin{
background:#2563eb;
color:white
}
.linkedin i{
color:white;
margin-right: 8px;
}
.linkedin:hover{
background:#1d4ed8;
transform:translateY(-2px);
transition:0.3s;
}

.resume{
background:#f97316;
}

.scroll{
margin-top:50px;
opacity:.6;
}

section{
padding:100px 60px;
text-align:center;
}


.features{
display:flex;
flex-direction:column;
gap:20px;
}


.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-top:30px;
}

.skills div{
background:#1e293b;
padding:10px 20px;
border-radius:8px;
}

.projects{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
margin-top:40px;
}

.project-card{
background:#1e293b;
padding:20px;
border-radius:12px;
width:300px;
overflow:hidden;
text-align: center;
}

.project-card a{
display:inline-block;
margin-top:10px;
color:#38bdf8;
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,textarea{
padding:12px;
border:none;
border-radius:6px;
background:#1e293b;
color:white;
}

button{
padding:12px;
border:none;
background:#38bdf8;
border-radius:6px;
}

footer{
text-align:center;
padding:30px;
}
.project-img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
margin-bottom:15px;
}
.project-card:hover{
transform:translateY(-8px);
transition:.3s;
}

.location i{
color:#22c55e;
margin-right:8px;
font-size:18px;
}
.location i{
color:#38bdf8;
margin-right:8px;
font-size:18px;
}

.section-title{
text-align:center;
font-size:40px;
margin-bottom:10px;
}

.section-title span{
color:#38bdf8;
}

.underline{
width:80px;
height:4px;
background:#38bdf8;
margin:10px auto 50px auto;
border-radius:4px;
}

.about-container{
display:flex;
justify-content:center;
align-items:center;
gap:60px;
flex-wrap:wrap;
}

.about-card{
background:#0f172a;
padding:40px;
border-radius:16px;
max-width:500px;
line-height:1.7;
box-shadow:0 20px 40px rgba(0,0,0,0.4);
transform:rotate(-2deg);
}

.about-left{
position:relative;
max-width:520px;
}

.about-bg{
position:absolute;
top:-20px;
left:-20px;
width:100%;
height:100%;
background:linear-gradient(135deg,#38bdf8,#22c55e);
border-radius:20px;
opacity:0.25;
transform:rotate(-6deg);
}

.about-features{
display:flex;
flex-direction:column;
gap:25px;
}

.about-right{
display:flex;
flex-direction:column;
gap:30px;
}

.feature{
display:flex;
align-items:center;
gap:20px;
background:#1e293b;
padding:20px;
border-radius:12px;
width:320px;
}

.feature-icon{
width:50px;
height:50px;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(135deg,#38bdf8,#22c55e);
border-radius:10px;
font-size:20px;
color:white;
}

.feature h3{
margin:0;
}

.feature p{
font-size:14px;
color:#cbd5f5;
}

.feature:hover{
transform:translateX(10px);
transition:0.3s;
}

.contact-container{
display:flex;
gap:80px;
justify-content:center;
flex-wrap:wrap;
}

.contact-left{
max-width:450px;
}

.contact-left h3{
font-size:28px;
margin-bottom:15px;
}

.contact-left p{
color:#cbd5e1;
line-height:1.7;
margin-bottom:30px;
}

.contact-info{
display:flex;
flex-direction:column;
gap:20px;
}

.info-box{
display:flex;
align-items:center;
gap:15px;
}

.info-icon{
width:50px;
height:50px;
display:flex;
align-items:center;
justify-content:center;
border-radius:12px;
font-size:20px;
color:white;
}

.email{
background:linear-gradient(135deg,#38bdf8,#2563eb);
}

.location{
background:none;
padding:0;
display:inline-flex;
align-items:center;
gap:6px;
color:#e2e8f0;
}

.contact-right{
max-width:500px;
width:100%;
}

.contact-right form{
display:flex;
flex-direction:column;
gap:20px;
}

.contact-right input,
.contact-right textarea{
background:#1e293b;
border:none;
padding:15px;
border-radius:10px;
color:white;
}

.contact-right input:focus,
.contact-right textarea:focus{
outline:2px solid #38bdf8;
}

.contact-right button{
background:linear-gradient(90deg,#3b82f6,#14b8a6);
padding:15px;
border:none;
border-radius:10px;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.contact-right button:hover{
transform:scale(1.05);
}

.location-icon{
background:linear-gradient(135deg,#3b82f6,#06b6d4);
}

.info-box:hover{
transform:translateX(8px);
transition:0.3s;
}